@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
.head {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.nav-section {
  display: flex;
  align-items: center;
}
.nav-section ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-items: center;
}
.nav-section ul .active {
  font-weight: 700;
}
.nav-section ul a {
  text-decoration: none;
}
.nav-section ul a:hover {
  color: red;
}
.main-page {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.main-page article {
  width: 25%;
  text-align: justify;
  padding: 30px 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.main-page article h2 {
  padding: 20px 0px;
}
.main-page article p {
  font-size: 0.99rem;
  text-indent: 20px;
  word-spacing: -1px;
  color: grey;
  padding: 10px 0;
}
.main-page article span {
  font-size: 0.7rem;
  color: red;
}
footer {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

